html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

*{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

body{
    background-image: url('../images/gradient-background.png');
    background-position: center;
    background-repeat: repeat;
    background-size:contain;
    font-size: 14px;
    min-width: 720px;  
}

#nowPlayingBarContainer{
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
    border-top: 4px solid #07d159;
}

#nowPlayingBar{
    height: 90px;
    padding: 16px;
    display: flex;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight{
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight{
    position: relative;
    margin-top: 16px;
}
#nowPlayingCenter{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content{
    width: 100%;
}

.playerControls .buttons{
    margin: 0 auto;
    display: table;
}

.controlButton{
    background: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img{
    width: 32px;
    height: 32px;
}

.controlButton:hover{
    cursor: pointer;
}

.progressTime{
    font-size: 11px;
    color: #a0a0a0;
    min-width: 40px;
    text-align: center;
}

.progressBar{
    width: 100%;
    height: 10px;
    display: inline-flex;
    cursor: pointer;
}

.playbackBar{
    display: flex;
}

.progressBarbg{
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress{
    width: 0;
    height: 4px;
    background-color: #07d159;
    border-radius: 2px;
}
.playbackBar .progressBar{
    margin-top: 4px;
}

#nowPlayingLeft .albumPic{
    height: 60px;
    margin-right: 15px;
    float: left;
    background-size: cover;
    cursor: pointer;
}

#nowPlayingLeft .trackInfo{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName{
    display: inline-block;
    margin: 3px 0;
    width: 100%;
}
#nowPlayingLeft .trackInfo .trackName span{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

#nowPlayingLeft .trackInfo .artistName span{
    font-size: 12px;
    color: #a0a0a0;
    letter-spacing: 1px;
    cursor: pointer;
}

.volumeBar{
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar{
    width: 125px;
}

#topContainer{
    min-height: 100%;
    width: 100%;
}

#navBarContainer{
    background: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#navBarContainer .navBar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.navBar .logo{
    margin-bottom: 15px;
}
.navBar .group{
    border-top: 1px solid #07d159;
    padding: 10px 0;
}

.navItem{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink{
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover{
    color: #fff;
}

.navItemLink .icon{
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

#mainViewContainer{
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent{
    padding: 0 20px;
}

#mainContent .pageHeading{
    text-align: center;
}

.gridViewItem{
    display: inline-block;
    margin-top: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img{
    width: 80%;
}

.gridViewItem .gridViewInfo{
    font-weight: bold;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}

.gridViewItem a{
    text-decoration: none;
}

.entityInfo{
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection{
    width: 30%;
    float: left;
    max-width: 280px;
}

.entityInfo .leftSection img{
    width: 80%;
}

.entityInfo .rightSection{
    padding: 10px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2{
    margin: 0px;
    margin-bottom: 10px;
    color: #07d159;
    font-size: 30px; 
}

.entityInfo .rightSection p{
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
}

.entityInfo .rightSection span{
    font-size: 15px;
    color: #a5a1a1;
    font-weight: bold;
}

.trackListContainer{
    width: 100%;
    /* height: 280px;
    max-height: 280px;
    overflow-y:auto;
    overflow-x: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#07d159;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  .trackList{
      padding: 0;
  }

  .trackListRow{
      height: 40px;
      padding: 15px 10px;
      list-style: none;
  }

  .trackListRow:hover{
      background-color: #282828;
  }

  .trackListRow .trackCount{
      width: 8%;
      float: left;
  }

  .trackListRow .trackCount img{
      width: 20px;
      visibility: hidden;
      position: absolute;
      cursor: pointer;
  }

  .trackListRow:hover .trackCount img{
      visibility: visible;
  }

  .trackListRow:hover .trackCount span{
    visibility: visible;
}

.trackListRow:hover .trackCount span{
    visibility: hidden;
}

.trackListRow .trackInfo{
    width: 75%;
    float: left;
}

.trackListRow .trackInfo span{
    display: block;
}

.trackListRow .trackInfo .trackName{
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 16px;
}
.trackListRow:hover .trackInfo .trackName{
    color: #07d159;
}

.trackListRow .trackInfo .artistName{
    font-style: italic;
}

.trackListRow .trackOptions{
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img{
    width: 15px;
    visibility: hidden;
    cursor: pointer;
}

.trackListRow:hover .trackOptions img{
    visibility: visible;
}

.trackListRow .trackDuration{
    width: 12%;
    float: left;
    text-align: right;
}

.artistInfo{
    text-align: center;
}

.headerButtons .button{
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2.0px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 10px;
    min-width: 140px;
    font-size: 14px;
}

.button.green{
    background-color: #07d159;
    border-color: #07d159;
}

.borderBottom{
    border-bottom: 2px solid #fff;
}

.trackListContainer h2,.gridViewContainer h2{
    text-align: center;
}

[role="link"]{
    cursor: pointer;
}